<template>
  <v-row>
    <v-col>
      <v-card
        color="#385F73"
        dark
        min-height="140"
        class="pointer"
      >
        <v-list-item three-line>
          <v-list-item-avatar
            size="125"
            tile
            v-if="article.image"
          >
            <v-img :src="article.image"></v-img>
          </v-list-item-avatar>

          <v-list-item-content class="align-self-start">
            <v-list-item-title
              class="headline mb-2"
            >
              <v-card
                class="d-flex mb-6"
                color="#385F73"
                flat
                tile
              >
                <v-card
                  class="mr-auto"
                  color="#385F73"
                  flat
                  tile
                >
                  {{article.title}}
                </v-card>
                <v-card
                  class="overline pl-4 pt-2 nowrap"
                  color="#385F73"
                  flat
                  tile
                >
                  {{article.date}}
                </v-card>
              </v-card>
            </v-list-item-title>
            <v-list-item-subtitle v-text="article.preamble"></v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-col>
  </v-row>
</template>

<style lang="sass" scoped>
  .nowrap
    white-space: nowrap
  .pointer
    cursor: pointer
</style>

<script>
export default {
  name: 'ArticleListItem',
  props: [
    'article',
  ],
};
</script>
