<template>
  <v-card>
    <v-container
      class="pa-2"
      fluid
    >
      <ArticleListItem
        :article="article"
        v-for="article in articles"
        :key="article.id"
      />
      <v-card
        v-if="articles.length === 0 && articleListLoaded"
        color="#385F73"
        min-height="65"
        dark
      >
        <v-card-title class="subtitle-1">Select data source on the right.</v-card-title>
      </v-card>
      <v-card
        v-if="!articleListLoaded"
        color="#385F73"
        min-height="65"
        dark
      >
        <v-card-title class="subtitle-1">We will come back to you shortly.</v-card-title>
      </v-card>
    </v-container>
  </v-card>
</template>


<script>
import ArticleListItem from './ArticleListItem';

export default {
  name: 'ArticleList',
  components: {
    ArticleListItem,
  },
  computed: {
    articles() {
      return this.$store.state.articles;
    },
    articleListLoaded() {
      return this.$store.state.articleListLoaded;
    },
  },
};
</script>
