<template>
  <div>
    <header>Data sources</header>
    <v-container
        class="grey lighten-5 pt-2 pb-0"
        fluid>
      <v-row>
        <v-col
          cols="6"
          md="12"
          class="ma-0 pa-0"
        >
          <v-switch
            class="pa-0 pt-2 ma-0"
            hide-details
            label="Fashion"
            v-model="categories"
            :value="fashion"
          ></v-switch>
        </v-col>
        <v-col
          cols="6"
          md="12"
          class="ma-0 pa-0"
        >
          <v-switch
            class="pa-0 pt-2 ma-0"
            hide-details
            label="Sport"
            v-model="categories"
            :value="sport"
          ></v-switch>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>


<script>
import { Categories } from '../store/consts';

export default {
  name: 'CategoryFilter',
  data() {
    return {
      fashion: Categories.fashion,
      sport: Categories.sport,
    };
  },
  computed: {
    categories: {
      get() {
        return this.$store.state.categories;
      },
      set(categories) {
        this.$store.dispatch('setCategories', categories);
      },
    },
  },
};
</script>
