<template>
  <div class="text-right">

    <v-btn-toggle
      v-model="descSortOrder"
      dense
      background-color="gray"
    >
      <v-btn
        class="btn"
        value="1"
      >
        Sort by date
        <v-icon class="arrow">arrow_upward</v-icon>
      </v-btn>
    </v-btn-toggle>

  </div>
</template>

<style lang="sass" scoped>
  .btn.v-item--active
    &.v-btn:before
      background-color: transparent
    .arrow
      transform: rotate(180deg)
</style>

<script>
export default {
  name: 'SortOrderBtn',
  computed: {
    descSortOrder: {
      get() {
        return this.$store.state.descSortOrder;
      },
      set(desc) {
        this.$store.dispatch('setDescSortOrder', desc);
      },
    },
  },
};
</script>
