<template>
  <v-app>
    <v-content>
      <v-container
          class="grey lighten-5 pa-20"
          fluid>
        <v-row>
          <v-col
            cols="4"
            md="12"
            order="2"
            order-md="1"
          ><SortOrderBtn/></v-col>
          <v-col
            cols="8"
            md="2"
            order="1"
            order-md="2"
          ><CategoryFilter/></v-col>
          <v-col
            cols="12"
            md="10"
            order="3"
            order-md="3"
          ><ArticleList/></v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import ArticleList from './components/ArticleList';
import SortOrderBtn from './components/SortOrderBtn';
import CategoryFilter from './components/CategoryFilter';

export default {
  name: 'App',
  components: {
    ArticleList,
    SortOrderBtn,
    CategoryFilter,
  },
  mounted() {
    this.$store.dispatch('loadArticles');
  },
};
</script>
